
.hidden {
  display: none !important;
}

body {
  background-color: #457B9D;
}


.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-third {
  width: calc(100% / 3);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.loading-container {
  width: 100%;
  min-height: 575px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.no-favorites-container {
  width: 100%;
  min-height: 575px;
  margin: 0 auto;
  text-align: center;
  color:#edf6f9;
}

.loading-container.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.newContainer {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 575px;
    width: 100%;
  }
  .loading-container {
    text-align: center;
  }

  .deals-page-container {
    column-count: 2;
  }

  ul.newContainer {
    display: inline-block;
    width: -webkit-fill-available;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

}
