/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* #264653 - charcoal
#edf6f9 - Alice Blue (white)
#83C5BE - Middle Blue Green*/

header {
  display: flex;
  justify-content: center;
  background-color: #264653;
}

h2 {
  font-size: 1rem;
}

i:hover {
  cursor: pointer;
}

.error-modal {
  display: none;
}

.exit-icon {
  display: flex;
  justify-content: flex-end;
}

.exit-icon:hover {
  cursor: pointer;
}

.error-modal.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.error-modal-content {
  font-family: 'Roboto', sans-serif;
  background-color: #fefefe;
  position: fixed;
  top: 25%;
  left: 5%;
  right: 5%;
  padding: 1rem 1rem;
  border-radius: 3%;
  text-align: center;
  line-height: 2;
  border: solid 3px #457B9D;
}

.loading {
  max-width: 80%;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
  padding-right: 1rem;
  margin-left: 2rem;
}

.text-align-left {
  text-align: left;
}

.word-wrap {
  word-wrap: break-word;
}

.one-line {
  white-space: nowrap;
}

.pre-wrap {
  white-space: pre-wrap;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.padding-top {
  padding-top: .7rem;
}

.padding-top-info {
  padding-top: 4.89rem;
}

.padding-bottom {
  padding-bottom: .3rem
}

.padding-bottom {
  padding-bottom: .39rem;
}

.margin-left {
  margin-left: 1.5rem;
}

.margin-info {
  margin: 0 1rem;
}

.margin-price {
  margin-top: 2rem;
}

.margin-right {
  margin-right: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.no-margin {
  margin: 0 0;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.font-weight-normal {
  font-weight: normal;
}

.red-striked {
  text-decoration: line-through;
  color: red;
}

.green {
  color: green;
}

.back-icon {
  color: #edf6f9;
  font-size: 2.5rem;
  align-self: center;
  position: relative;
  right: 2rem;
}

.top-header {
  font-family: 'Roboto', sans-serif;
  background-color: #264653;
  text-align: center;
  white-space: nowrap;
  font-size: 2rem;
  color: #edf6f9;
  margin: 0;
  padding: 1rem;
  padding-right: 4rem;
}


.deal-listing-container {
  width: 100%;
  height: 100%;
  background-color: #457B9D;
  font-family: 'Ubuntu', sans-serif;
  padding: 1.7rem 0;
  border: .1rem solid black;
}

.home-page-container {
  background-color: #457B9D;
  font-family: 'Ubuntu', sans-serif;
  padding: 7rem 0;
}

.deal-info-container,
.info-1 {
  background: #edf6f9;
  border-radius: 10% / 50%;
  margin: 0 1rem;
}

.info-2 {
  background: #edf6f9;
  border-radius: 10% / 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}


.game-img {
  max-width: 60%;
  align-self: center;
  object-fit: contain;
}

.game-title {
  font-size: 2rem;
  margin-right: 1.5rem;
  word-wrap: break-word;
}

.game-title-info {
  font-size: 2rem;
  word-wrap: break-word;
}

.more-info-container,
.go-deal-container {
  /* margin-top: 1rem; */
  border: 1px solid black;
}

.go-deal,
.more-info {
  text-decoration: none;
  white-space: nowrap;
  padding: 1.4rem 2rem;
  border-radius: 10px;
  width: 40%;
  background-color: #edf6f9;
}

.favorite-icon {
  font-size: 4rem;
  padding-top: .7rem;
  color: #edf6f9;
  text-decoration: none;
  -webkit-text-stroke-width: .2rem;
  -webkit-text-stroke-color: #264653;
  transition: all .3s ease-in-out;
}

.favorite-icon:hover {
  transform: scale(1.2);
}

.cart-icon {
  font-size: 4rem;
  padding-top: .7rem;
  color: #264653;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.cart-icon:hover {
  transform: scale(1.2);
}


.info-icon {
  font-size: 4rem;
  padding-top: .7rem;
  color: #264653;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.info-icon:hover {
  transform: scale(1.2);
}

.active {
  font-size: 4rem;
  padding-top: .7rem;
  color: red;
  text-decoration: none;
  -webkit-text-stroke-width: .2rem;
  -webkit-text-stroke-color: #264653;
}

.hidden {
  display: none;
}

.home-buttons {
  display: flex;
  flex-direction: column;
}

.deals-button,
.favorites-button,
.stores-button {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  width: 50%;
  padding: 1rem 0;
  margin-bottom: 2rem;
  background-color: #edf6f9;
  border-radius: 10% / 50%;
  outline: none;
  transition: .3s;
}

.deals-button:hover,
.favorites-button:hover,
.stores-button:hover {
  box-shadow: 8px 8px black;
  transition: .3s;
  cursor: pointer;
}
